@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

:root {
    --orange-: #ffa500;
}

*{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

*::selection {
    background: #ffa500;
    color: #fff;
}
body {
        position: relative;
        height: 100%;
}


.header{
    position: relative;
}

.navbar{
    background-color: rgb(50, 50, 48);
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
    z-index: 50;
}

.navbar__logo{
    color: white;
}

.orange{
    color: #ffa500;
}

.navbar .fas{
    color: white;
    font-size: x-large;
}

.navbar__icons{
    display: flex;
    gap: 1rem;
}

.search__bar{
    position: absolute;
    background-color: rgb(50, 50, 48);
    min-height: 3.5rem;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid gray;
    top: -3.5rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: 40;
}

.search__bar input{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0;
    margin-left: 1rem;
}

.search__bar .fas{
    color: white;
    font-size: x-large;
    margin-right: 1rem;
}

.move-down {
	transform: translate(0, 7rem);
	-webkit-transform: translate(0, 7rem);
	-o-transform: translate(0, 7rem); 
	-moz-transform: translate(0, 7rem);
}

.move-up {
	transform: translate(0, 3.5);
	-webkit-transform: translate(0, 3.5);
	-o-transform: translate(0, 3.5rem); 
	-moz-transform: translate(0, 3.5rem);
}

.menu{
    position: absolute;
    background-color: rgb(50, 50, 48);
    border-top: 1px solid gray;
    min-height: 25rem;
    max-height: 25rem;
    padding: 1rem 0;
    z-index: 30;
    width: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.menu__item{
    background-color: rgb(32, 35, 32);
    border-radius: 0.5rem;
    margin: 1rem;
}

.menu__item-text{
    color: white;
    padding: 0.5rem 0;
    margin-left: 1rem;
    cursor: pointer;
}

.menu__item-text:hover{
    color: var(--orange-);
    cursor: pointer;
}

#mobile__menu-button:hover {
    color: var(--orange-);
}

.fa-user:hover {
    color: var(--orange-);
    cursor: pointer;
}

.search__icon:hover {
    color: var(--orange-);
    cursor: pointer;
}
.move__down-menu {
	transform: translate(0, 0rem);
	-webkit-transform: translate(0, 0rem);
	-o-transform: translate(0, 0rem); 
	-moz-transform: translate(0, 0rem);
}

.move__up-menu {
	transform: translate(0, -28.5rem);
	-webkit-transform: translate(0, -28.5rem);
	-o-transform: translate(0, -28.5rem); 
	-moz-transform: translate(0, -28.5rem);
}

.desktop__menu{
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    height: 100vh;
    z-index: 20;
}

.home .content {
    text-align: center;
    width: 90%;
    position: relative;
    z-index: 40;
}

.home .content h3 {
    font-size: 2.25rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p {
    font-size: 1.25rem;
    color: #fff;
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.home .content a {
    font-size: 1rem;
    color: var(--orange-);
    padding: .5rem 2rem;
    text-decoration: none;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    transition: all .5s;
    user-select: none;
    border-radius: 10rem;
}

.home .content a:hover {
    background-color: #ffa60044;
    color: #ffa600;
    border: 1px solid var(--orange-);
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: .5rem;
    border-radius: 5rem;
    position: relative;
    top: 4rem;
    user-select: none;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home .controls .video-btn{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .video-btn.active {
    background: #ffa500;
}

.heading {
    text-align: center;
    padding: 2.5rem 0;
    width: 100%;
    user-select: none;
}

.heading span {
    font-size: 2rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange-);
    border-radius: .5rem;
    padding: .1rem .5rem;
}

.heading span.space {
    background: none;
}

.book {
    max-width: 100vw;
}

.book .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
}

.book .row .image {
    max-width: 100vw;
}

.book .row .image img {
    width: 100%;
    height: auto;
}

.book .row form {
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book .row form .inputBox input {
    width: 90%;
    padding: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    font-size: .8rem;
    color: #000;
    text-transform: none;
}

.book .row form .inputBox input::placeholder {
    color: #000;
}

.book .row form .inputBox input:focus {
    outline: 1px solid var(--orange-);
    background-color: #ffa60044;
}

.book .row form .btn {
    font-size: 1rem;
    color: #fff;
    padding: .5rem 2rem;
    text-decoration: none;
    background: var(--orange-);
    user-select: none;
    outline: none;
    border: none;
    margin-top: 2rem;
    width: 10rem;
    transition: all .5s;
    border: 1px solid var(--orange-);
    cursor: pointer;
}

.book .row form .btn:hover {
    background-color: #ffa60044;
    color: #ffa600;
    border: 1px solid var(--orange-);
}

.book .row form .inputBox h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--orange-);
}

.swipe-button{
    align-self: center;
    font-size: 3rem;
    color: rgba(255, 165, 0, .2);
}
.swipe-button:hover{
    color: var(--orange-);
    transition: 0.5s;
    cursor: pointer;
}
.swipe-right{
    margin-left: 1.5rem;
}
.swipe-left{
    margin-right: 1.5rem;
}

.container-carousel{
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px 40px;
    display: flex;
  }
.container .swiper-container{
    width: 100%;
    height: 100%;
  }
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    object-fit: cover;
  }



.place{
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    color: rgb(50, 50, 48);
    font-size: 1.3rem;
}
.place i{
    color: var(--orange-);
    margin-right: 0.5rem;
}
.swiper-item p{
    text-align: left;
    margin: 0 1rem;
    color: #464748;
}
.stars {
    margin: 0.5rem 1rem;
}
.fa-star{
    color: var(--orange-);
    
}

.price{
    font-size: x-large;
    color: #464748;
    margin-bottom: 1rem;
}
.price span{
    font-size: smaller;
    text-decoration: line-through;
    color: gray;
}
.book-now{
    border: none;
    width: 50%;
    min-height: 3rem;
    background-color: var(--orange-);
    color: white;
    font-weight: bold;
    font-size: larger;
    margin: 1rem 1rem;
}

.services {
    margin: 1rem 0 0 0;
    padding: 0 0 2rem 0;
}

.service__container {
    width: max-content;
    margin: 0 auto;
    user-select: none;
}
.services .service__container span {
    font-size: 2rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange-);
    border-radius: .5rem;
    padding: .1rem .5rem;
    font-weight: bold
}

.service__card-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service__card {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    margin: 0 2rem;
    width: 100%;
    margin-top: 3rem;
}

.service__card:hover {
    box-shadow: 9px 7px 25px -7px rgba(0,0,0,0.53);
-webkit-box-shadow: 9px 7px 25px -7px rgba(0,0,0,0.53);
-moz-box-shadow: 9px 7px 25px -7px rgba(0,0,0,0.53);
}

.service__card i {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: var(--orange-);
}

.service__card span {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-weight: bold
}

.service__card p {
    font-size: .75rem;
    margin: 0 auto;
    width: 80%;
    margin-top: .5rem;
    color: rgb(94, 93, 93);
}

@media (min-width: 640px) {
    .home .content h3 {
        font-size: 3rem;
    }
    
    .home .content p {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
    
    .home .content a {
        font-size: 1.25rem;
        padding: .75rem 2.5rem;
    }
    
    .home .controls {
        padding: 1rem 1.5rem;
        top: 5rem;
    }
    
    .home .controls .video-btn{
        height: 1.75rem;
        width: 1.75rem;
    }

    .heading {
        text-align: center;
        padding: 2.5rem 0;
        width: 100%;
    }
    
    .heading span {
        font-size: 3rem;
        background: rgba(255, 165, 0, .2);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1rem;
    }

    .book .row form .inputBox input {
        width: 95%;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .book .row form .btn {
        font-size: 1.5rem;
        width: 15rem;
    }

    .book .row form .inputBox h3 {
        font-size: 2rem;
        padding: 1rem 0;
        color: var(--orange-);
    }

    .services {
        margin-top: 2rem;
    }
    .services .service__container span {
        font-size: 3rem;
        background: rgba(255, 165, 0, .2);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1rem;
    }

    .service__card {
        width: 42.5%;
        margin: 1rem .5rem;
    }

    .service__card-conteiner {
        margin-top: 2rem;
    }
}

@media (min-width: 1025px ) {
    #mobile__menu-button{
         display: none;}
    .desktop__menu{
        display: flex;
        flex-direction: row;
        
    }
    .desktop__menu .menu__item-text{
        font-size: large;
    }
    
    .home .content h3 {
        font-size: 4rem;
    }
    
    .home .content p {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    
    .home .content a {
        font-size: 2rem;
        padding: .5rem 4rem;
    }
    
    .home .controls {
        padding: 1rem 2rem;
        top: 5rem;
    }
    
    .home .controls .video-btn{
        height: 2.25rem;
        width: 2.25rem;
    }

    .book .row {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .book {
        overflow: hidden;
    }
    
    .book .row .image {
        width: 45%;
    }
    
    .book .row form {
        width: 45%;
    }
    
    .heading span {
        font-size: 4rem;
        background: rgba(255, 165, 0, .2);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1.25rem;
    }

    .book .row form .inputBox input {
        width: 95%;
        padding: 1.25rem;
        font-size: 1.25rem;
    }
    
    .book .row form .btn {
        font-size: 1.75rem;
        width: 20rem;
    }

    .book .row form .inputBox h3 {
        font-size: 2.5rem;
        padding: 1rem 0;
        color: var(--orange-);
    }

    .service__card {
        width: 27.5%;
        max-width: 25rem;
        margin: 1rem;
    }

    .services .service__container span {
        font-size: 4rem;
        background: rgba(255, 165, 0, .2);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1.25rem;
    }
}