/* ============= agg font ============= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

/* ============= start variable ============= */
:root {
    --orange-: #ffa500;
    --white-: #ffffff;
    --gray-light: #323230;
    --black-: #000000;
    --gray-: #808080;
    --orange-hover-: #ffa60044;
    --color-shadow-: #0000001a;
    --gray-swiper-: #464748;
    --color-menu: #202320;
    --galery-orange-: #ffa600e5;
    --darkMode: #151d29;
    --bg-form-darkMode: #1e293a;
    --color-: #8f8f8f;
    --bg-input-: #FAF7F8;
    --bg-form-: #f8f8f8;

}
/* ============= end variable ============= */



/* ============= start HTML y body ============= */
html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: var(--white-); 
}
  
body::-webkit-scrollbar-thumb {
  background-color: var(--orange-);
  border-radius: 20px;
  border: 3px solid var(--orange-); 
}

body {
        position: relative;
        height: 100%;
}


html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

*::selection {
    background: var(--orange-);
    color: var(--white-);
}
/* ============= end HMTL y body ============= */



/* ============= start header area ============= */
.header{
    position: relative;
}

.navbar{
    background-color: var(--white-);
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    z-index: 50;
    width: 100%;
}

.navbar__logo{
    color: var(--darkMode);
}

.orange{
    color: var(--orange-);
}

.navbar .fas{
    color: var(--darkMode);
    font-size: x-large;
}

.navbar__icons{
    display: flex;
    gap: 1rem;
}

.search__bar{
    position: absolute;
    background-color: var(--darkMode) !important;
    min-height: 3.5rem;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--gray-);
    top: -3.5rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: 40;
}

.search__bar input{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0;
    margin-left: 1rem;
}

.search__bar .fas{
    color: var(--white-);
    font-size: x-large;
    margin-right: 1rem;
}

.move-down {
	transform: translate(0, 7rem);
	-webkit-transform: translate(0, 7rem);
	-o-transform: translate(0, 7rem); 
	-moz-transform: translate(0, 7rem);
    position: fixed;
}

.move-up {
	transform: translate(0, 3.5);
	-webkit-transform: translate(0, 3.5);
	-o-transform: translate(0, 3.5rem); 
	-moz-transform: translate(0, 3.5rem);
    position: fixed;
}

.menu{
    position: fixed;
    background-color: var(--darkMode);
    border-top: 1px solid var(--gray-);
    min-height: 25rem;
    max-height: 25rem;
    padding: 1rem 0;
    z-index: 30;
    width: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-top: 4rem;
}

.menu__item{
    background-color: var(--white-);
    border-radius: 0.5rem;
    margin: 1rem;
}

.menu__item-text{
    color: var(--darkMode);
    padding: 0.5rem 0;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.menu__item-text:hover{
    color: var(--orange-) !important;
    cursor: pointer;
}

#mobile__menu-button:hover {
    color: var(--orange-) !important;
}

.fa-user:hover {
    color: var(--orange-) !important;
    cursor: pointer;
}

.search__icon:hover {
    color: var(--orange-) !important;
    cursor: pointer;
}

.move__down-menu {
	transform: translate(0, 0rem);
	-webkit-transform: translate(0, 0rem);
	-o-transform: translate(0, 0rem); 
	-moz-transform: translate(0, 0rem);
}

.move__up-menu {
	transform: translate(0, -28.5rem);
	-webkit-transform: translate(0, -28.5rem);
	-o-transform: translate(0, -28.5rem); 
	-moz-transform: translate(0, -28.5rem);
}

.desktop__menu{
    display: none;
}

label {
    position: relative;
}

label input {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
}

label svg {
    width: 50px;
    margin-right: 1.75rem;
    cursor: pointer;
    height: auto;
    display: block;
}

label input + svg .light {
   transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
  
label input + svg .translate,
label input + svg .rotate,
label input + svg .background,
label input + svg .astronaut,
label input + svg .surfer {
transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}

label input:checked + svg .light {
opacity: 0;
}

label input:checked + svg .translate {
transform: translateX(0px);
}

label input:checked + svg .rotate {
transform: rotate(0deg);
}

label input:checked + svg .background {
transform: translate(0px) scale(1);
}
  
/* ============= end header area ============= */



/* ============= start home area ============= */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    height: 100vh;
    z-index: 20;
}

.home .content {
    text-align: center;
    width: 90%;
    position: relative;
    z-index: 40;
}

.home .content h3 {
    font-size: 2.25rem;
    color: var(--white-);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content h3 span {
    font-family: 'Roboto', sans-serif;
}


.home .content p {
    font-size: 1.25rem;
    color: var(--white-);
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.home .content a {
    font-size: 1rem;
    color: var(--orange-);
    padding: .5rem 2rem;
    text-decoration: none;
    background: var(--color-shadow-);
    backdrop-filter: blur(5px);
    transition: all .5s;
    user-select: none;
    border-radius: 10rem;
}

.home .content a:hover {
    background-color: var(--orange-hover-);
    color: var(--orange-);
    border: 1px solid var(--orange-);
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: .5rem;
    border-radius: 5rem;
    position: relative;
    top: 4rem;
    user-select: none;
    background: var(--color-shadow-);
    backdrop-filter: blur(5px);
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home .controls .video-btn{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--white-);
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .video-btn.active {
    background: var(--orange-);
}

.heading {
    text-align: center;
    padding: 2.5rem 0;
    width: 100%;
    user-select: none;
    margin-bottom: 5rem;
}

.heading span {
    font-size: 2rem;
    background: var(--orange-hover-);
    color: var(--orange-);
    border-radius: .5rem;
    padding: .1rem .5rem;
}

.heading span.space {
    background: none;
}

.book {
    max-width: 100vw;
}

.book .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
}

.book .row .image {
    max-width: 100vw;
}

.book .row .image img {
    width: 100vw;
    height: auto;
}

.book .row form {
    padding: 1rem;
    border-radius: .5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 100%;
    background-color: var(--bg-form-);
}

.book .row form .inputBox .input-main {
    width: 90%;
    padding: .5rem;
    border: none;
    font-size: .75rem !important;
    color: var(--darkMode) !important;
    background: var(--white-);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    text-transform: none;
    outline: none;
    border: 1px solid var(--white-);
}

.book .row form .inputBox {
    font-size: .5rem !important;
}


.book .row form .inputBox p {
    font-size: .75rem;
    margin: .25rem .50rem;
    display: none;
}

.book .row form .inputBox input::placeholder {
    color: var(--darkMode);
}

.book .row form .inputBox input:focus {
    outline: 1px solid var(--orange-);
    background: var(--white-);
}

.book .row form .btn {
    font-size: 1rem !important;
    color: var(--white-);
    padding: .5rem 2rem;
    text-decoration: none;
    background: var(--orange-);
    user-select: none;
    outline: none;
    border: none;
    margin-top: 2rem;
    width: 9rem !important;
    transition: all .5s;
    border: 1px solid var(--orange-);
    cursor: pointer;
    border-radius: 1rem;
}

.book .row form .btn:hover {
    background-color: var(--orange-hover-);
    color: var(--orange-);
    border: 1px solid var(--orange-);
}

.book .row form .inputBox h3 {
    font-size: 1.25rem !important;
    padding: 1rem 0;
    color: var(--orange-);
}

.book-now{
    border: none;
    width: 50%;
    min-height: 3rem;
    background-color: var(--orange-);
    color: var(--white-);
    font-weight: bold;
    font-size: larger;
    margin: 1rem 1rem;
    transition: all .5s;
    cursor: pointer;
    border-radius: 1rem;
}

.book-now:hover {
    background-color: var(--orange-hover-);
    color: var(--orange-);
    border: 1px solid var(--orange-);
}
/* ============= end home area ============= */



/* ============= start packages area ============= */
.swipe-button{
    align-self: center;
    font-size: 3rem;
    color: var(--orange-hover-);
    display: none;
}

.swipe-button:hover{
    color: var(--orange-);
    transition: 0.5s;
    cursor: pointer;
}

.swipe-right{
    margin-left: 1.5rem;
}

.swipe-left{
    margin-right: 1.5rem;
}

.container-carousel{
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px 40px;
    display: flex;
}

.container .swiper-container{
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: var(--white-);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
    margin-bottom: 1rem;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    object-fit: cover;
  }

.place{
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    color: var(--gray-light);
    font-size: 1.3rem;
}

.place i{
    color: var(--orange-);
    margin-right: 0.5rem;
}

.swiper-item p{
    text-align: left;
    margin: 0 1rem;
    color: var(--gray-swiper-);
}

.stars {
    margin: 0.5rem 1rem;
}

.fa-star{
    color: var(--orange-);
    
}

.price{
    font-size: x-large;
    color: var(--gray-swiper-);
    margin-bottom: 1rem;
}

.price span{
    font-size: smaller;
    text-decoration: line-through;
    color: var(--gray-);
}
/* ============= end packages area ============= */



/* ============= start services area ============= */
.services {
    padding: 2rem 0 0 0;
}

.swiper-wrapper {
    margin-bottom: 2rem;
}

.service__container {
    width: max-content;
    margin: 0 auto;
    user-select: none;
}

.services .service__container span {
    font-size: 2rem;
    background: var(--orange-hover-);
    color: var(--orange-);
    border-radius: .5rem;
    padding: .1rem .5rem;
    font-weight: bold
}

.service__card-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0 2rem 0;
}

.service__card {
    display: flex;
    flex-direction: column; 
    padding: 2rem 1rem;
    margin: 0 2rem;
    width: 100%;
    margin-top: 3rem;
    user-select: none;
}

.service__card:hover {
    box-shadow: 9px 7px 25px -7px rgba(0, 0, 0, 0.392);
-webkit-box-shadow: 9px 7px 25px -7px rgba(0, 0, 0, 0.392);
-moz-box-shadow: 9px 7px 25px -7px rgba(0, 0, 0, 0.392);
}

.service__card i {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: var(--orange-);
}

.service__card span {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-weight: bold
}

.service__card p {
    font-size: .75rem;
    margin: 0 auto;
    width: 80%;
    margin-top: .5rem;
    color: var(--color-);
}
/* ============= end services area ============= */



/* ============= start gallery area ============= */
.gallery{
    display: grid;
    gap: 1rem;
}

.image_container{
  position: relative;
  background-color: var(--white-);
  max-height: 50vh;
  min-height: 40vh;
  overflow: hidden;
  margin: 0 2rem;
}

.image_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_container span{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0.95;
    background: var(--galery-orange-);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: width .75s, height .75s;
    transform: translate(-50%, -50%);
}

.image_container:hover span{
    width: 1000px;
    height: 1000px;
}

.image_container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.image_container .content div{
    padding: 40px;
    color: var(--white-);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_container .content div h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.image_container .content div p{
    font-size: .7rem;
    display: none;
}

.image_container:hover .content div{
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s;
    visibility: visible;
}
/* ============= end gallery area ============= */



/* ============= start review area ============= */
.review {
    margin: 1rem 0;
    padding-bottom: 5rem;
}

.review__container-title {
    width: max-content;
    margin: 0 auto;
    user-select: none;
}

.review__container-title span {
    font-size: 2rem;
    background: var(--orange-hover-);
    color: var(--orange-);
    border-radius: .5rem;
    padding: .1rem .5rem;
    font-weight: bold
}

.review__swiper-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
    width: max-content;
    user-select: none;
    cursor: pointer;
    background: inherit;
    height: 22.5rem;
}

.review__container-img img {
    border-radius: 50%;
    height: auto;
    width: 7.5rem;
}

.review__swiper-card span {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-weight: bold
}

.review__swiper-card p {
    font-size: .75rem;
    margin: 0 auto;
    width: 80%;
    margin-top: .5rem;
    color: var(--color-);
}

.mySwiper {
    width: 90%;
}

/* ============= end review area ============= */



/*============== start contact area ============= */
.contact{
    display: flex;
    flex-direction: column;
}

.contact img{
    display: none;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact__form{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 95%;
    margin: 0 auto;
    
    
}

.contact__form-column input{
    background-color: var(--bg-input-);
    border: none;
    height: 2.5rem;
    width: 90%;
    margin: 1rem 1rem;

}

.contact__form textarea{
    background-color: var(--bg-input-);
    border: none;
    height: 10rem;
    min-width: 90%;
    margin: 1rem 1rem;
}

.contact__form-column input::placeholder, textarea::placeholder {
    padding-left: .5rem;
    color: var(--gray-light);
    padding-top: .2rem;
}

.contact__btn{
    font-size: 1rem;
    color: var(--white-);
    padding: .5rem 2rem;
    text-decoration: none;
    background: var(--orange-);
    user-select: none;
    outline: none;
    border: none;
    margin: 2rem 1rem;
    width: 10rem;
    transition: all .5s;
    border: 1px solid var(--orange-);
    cursor: pointer;
}

.contact__btn:hover {
    background-color: var(--orange-hover-);
    color: var(--orange-);
    border: 1px solid var(--orange-);
}
#warnings{
    color: red;
    margin: 1rem;
    font-weight: bold;
}
/*============== end contact area ============= */



/* ============= start footer area ============= */
footer {
    background-image: url(../../images/footer-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer__card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 0 0 1rem;
}

.footer__card h4{
    color: var(--white-);
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.footer__card a{
    text-decoration: none;
    color: var(--white-);
    margin: .75rem 0 .75rem 0;
}

.footer__card a:hover{
    color: var(--orange-);
}

.footer__card i{
    color: var(--orange-);
    margin: 0 .5rem 0 0;
}
/* ============= end footer area ============= */



/* ============= start breakpoint 640px ============= */
@media (min-width: 640px) {
    .home .content h3 {
        font-size: 3rem;
    }
    
    .home .content p {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
    
    .home .content a {
        font-size: 1.25rem;
        padding: .75rem 2.5rem;
    }
    
    .home .controls {
        padding: 1rem 1.5rem;
        top: 5rem;
    }
    
    .home .controls .video-btn{
        height: 1.75rem;
        width: 1.75rem;
    }

    .heading {
        text-align: center;
        padding: 2.5rem 0;
        width: 100%;
    }
    
    .heading span {
        font-size: 3rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1rem;
    }

    .book .row .image {
        display: flex;
    }

    .book .row form .inputBox input {
        width: 95%;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .book .row form .btn {
        font-size: 1.5rem;
        width: 15rem;
    }

    .book .row form .inputBox h3 {
        font-size: 2rem;
        padding: 1rem 0;
        color: var(--orange-);
    }

    .services {
        margin-top: 2rem;
    }

    .services .service__container span {
        font-size: 3rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1rem;
    }

    .service__card {
        width: 42.5%;
        margin: 1rem .5rem;
    }

    .service__card-conteiner {
        margin-top: 2rem;
    }

    .review__container-title {
        margin-bottom: 1rem;
    }

    .review__container-title span {
        font-size: 3rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1rem;
        font-weight: bold
    }

    .gallery{
        grid-template-columns: repeat(2, 50%);
        margin: 0 3rem;
    }

    .image_container .content div p {
        display: block;
        width: 75%;
    }

    .image_container .content div h2 {
        font-size: 1.50rem
    }

    .image_container{
        margin: 0;
      }

    .swipe-button{
        display: block;
    }
    
    .swiper-pagination-responsive {
        display: none;
    }

    footer {
        justify-content: space-around;
    }

    .footer__card {
        width: 22.5%;
    }
    
}
/* ============= end breakpoint 640px ============= */



/* ============= start breakpoint 1025px ============= */
@media (min-width: 1025px ) {
    #mobile__menu-button{
         display: none;
    }

    .desktop__menu{
        display: flex;
        flex-direction: row;
    }

    .desktop__menu .menu__item-text{
        font-size: large;
    }
    
    .home .content h3 {
        font-size: 4rem;
    }
    
    .home .content p {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    
    .home .content a {
        font-size: 2rem;
        padding: .5rem 4rem;
    }
    
    .home .controls {
        padding: 1rem 2rem;
        top: 5rem;
    }
    
    .home .controls .video-btn{
        height: 2.25rem;
        width: 2.25rem;
    }

    .book .row {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
    }

    .book {
        overflow: hidden;
    }
    
    .book .row .image {
        width: 45%;
    }
    
    .book .row form {
        width: 45%;
    }
    
    .heading span {
        font-size: 4rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1.25rem;
    }

    .book .row form .inputBox input {
        width: 95%;
        padding: 1.25rem;
        font-size: 1.25rem;
    }
    
    .book .row form .btn {
        font-size: 1.75rem;
        width: 20rem;
    }

    .book .row form .inputBox h3 {
        font-size: 2.5rem;
        padding: 1rem 0;
        color: var(--orange-);
    }

    .book .row .image img {
        width: 100%;
        height: auto;
    }

    .service__card {
        width: 27.5%;
        max-width: 25rem;
        margin: 1rem;
    }

    .services .service__container span {
        font-size: 4rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1.25rem;
    }

    .review__container-title {
        margin-bottom: 2.5rem;
    }

    .review__container-title span {
        font-size: 4rem;
        background: var(--orange-hover-);
        color: var(--orange-);
        border-radius: .5rem;
        padding: .2rem 1.25rem;
        font-weight: bold
    }

    .gallery{
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        margin: 0 4rem;
    }

    .image_container .content div h2{
        font-size: 1.75rem;
        font-weight: bold;
    }

    .image_container .content div p{
        font-size: .75rem;
        width: 75%;
    }
    

    .swipe-button{
        display: block;
    }
    .contact{
        margin-bottom: 2rem;
    }
    .contact__container{
        display: flex;
        justify-content: space-around;
        margin: 0 3rem;
        height: 75vh;

        
    }
    .contact__form-row{
        display: flex;
    }
    .contact__form-column{
        display: flex;
        flex-direction: column;
    }
    .image__form-container{
        min-width: 50%;
        max-width: 50%;
        max-height: 50%;
    }
    .contact img{
        display: block;
        height: 70vh;
    }

    .footer__container-card, .footer__container-card-2 {
        width: 50%;
    }

}
/* ============= end breakpoint 1025px ============= */